*{
	margin: 0;
	padding: 0;
}
body{
	background: #131111;
}

header#titulo, section#contenedor, footer#piepag{
	background: #756F6F;
	color: #f2f2f2;
	width: 90%;
	margin: 1em auto;
	border-radius: 10px;
	padding: 1em 1em;
	text-align: center;
}

section#contenedor{
	background:none;
}
section#contenedor nav, section#contenido, aside {
	background:#756F6F;
	display: inline-block;
	width:32%;
	vertical-align: top;
	border-radius: 10px; 
	padding: 1em 1em; 
}


section#contenedor nav{
	float: left;
	width:20%;
}
section#contenedor nav, a{
	text-decoration: none;
	color: #fff;
	text-align: left;
}

section#contenedor aside{
	float:right;
}

section#contenido header#header2, article, footer#footersection{
	background:#ccc;
	margin:0.5em auto;
	border-radius: 5px;
	width:80%; 
	color:#000;
}

@media screen and (max-width: 685px) {
	
	section#contenedor nav, section#contenido, aside {
		display: block;
		float:none;
		text-align: left;
}
}